.wpmfu-form {
	.clearfix { *zoom: 1; }
	.clearfix:before,
	.clearfix:after {
		display: table;
		line-height: 0;
		content: "";
	}
	.clearfix:after { clear: both; }
	.pull-left { float: left; }
	.pull-right { float: right; }
	.clear { clear: both; }
	.unstyled { margin-left: 0; list-style: none; }
} // .wpmfu-form